.navbar {margin-bottom: 0}

.jumbotron {
    background: orange;
    color:  black;
    padding: 0px 0;
}

.jumbotron .titulo-blog {
    font-size:  80px;
}
#titulo1{color:white;
      
}
#titulo2{color:black;

}
